<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="https://nice.app.blackduck.com"/>
		<add key="token" value="MzAyOTRmOGItNjUyNy00MTdkLWJlN2MtOGE2YWUyMmZjMjVkOmE5YWFiYjk1LTEzNGYtNDhhMC1iZGY3LTU3MzcyNGNmOWI2OQ=="/>
		<add key="maxRetries" value="20" />
		<add key="retryInterval" value="1000" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
